body {
    font-family: Roboto, Arial;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 14px;
    background-color: rgb(248, 248, 248);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}