.header {
    height: 55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}


.hamburger-menu {
    height: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}


.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 36px;
    font-size: 16px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;

}

.search-btn {
    height: 40px;
    width: 66px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    margin-left: -2px;
    margin-right: 10px;
}

.search-btn,
.voice-search-btn,
.upload-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    font-family: Roboto ,Arial;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245)
}

.voice-search-icon {
    height: 25px;

}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notification-container {
    position: relative;
}

.notifications-icon {
    height: 24px;
}

.notifications-count {
    font-size: 11px;
    color: white;
    background-color: rgb(200, 0, 0);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    position: absolute;
    right: -5px;
    top: -5px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}