.side-bar {
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}